@charset "UTF-8";
body {background-color: whitesmoke;
background-repeat: no-repeat;
background-size: cover;
background-position: center top;
height: 100vh;
}
.main-nav{
    display: flex;
    font-size: 1.25rem;
    text-transform:uppercase;
    margin-top: 34px;
    list-style: none;
    color: black;
    font-family: serif;
}

header {
    width: 100%; /* 幅いっぱいを指定 */
    height: 10px; /* 高さを50pxに指定 */
    background: whitesmoke; /* 背景色にグレーを指定 */
    padding: 20px 50px; /* ヘッダーに上下左右それぞれ余白を指定 */
    box-sizing: border-box; /* padding分を含んで幅を100%にするため */
    position: fixed; /* ウィンドウを基準に画面に固定 */
    top: 0; /* 上下の固定位置を上から0pxにする */
    left: 0; /* 左右の固定位置を左から0pxにする */
    display: flex; /* 中の要素を横並びにする */
    align-items: center; /* 中の要素を上下中央に並べる */
    
}


.main-nav li{
    margin-left: 36px;
}

.home-content{
    text-align: center;
    margin-top: 10%
}

.home-content h2 {

font-size: 1.125rem;
margin: 10px 0 42px;
color: black;
font-family: serif;

}

.page-title{
    font-size: 5rem;
    font-family: serif;
    color: black;
    
    
   }

   .big-bg{background-size: cover;
    background-position: center top;
   }    
    
   #home{ 
  
        min-height: 100vh;
    }


.Work {
    text-align: center;
}    
.Work p {text-align: center;
    font-size: 50px;
    font-family: serif;
   
margin-left: 20px;
margin-right: 20px;
border-radius: 10px;
}

.item {
    font-size: 20px;
    font-family: serif;
}

.item p1 {
    
    padding: 7px 7px;
    border-radius: 5px;
}

.item p2 {
    font-size: 15px;
}

.item p3 {
    font-size: 25px;
}

.grid {
    display: grid;
    gap: 50px;
    grid-template-columns:repeat(auto-fit, minmax(400px, 1fr));

    margin-top: 6%;
    margin-bottom: 50px;
    

}

.footer{
    font-family: serif;
    text-align: center;
}


